.home-title {
    font-size: 1.4em;
}

.card .img{
    width: 25%;
   height: auto;
   margin: 0 auto;
   padding: 2vh 0;
}

.card .title{
    font-size: 1.2em;
}

.card .price{
    font-size : 1em;
}

.card .description {
    font-size : 1em;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 12vh; /* Fallback for non-webkit */
    margin: 0 auto 2vh auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.toastMessage{
    text-align: center;
}

.emptyCartMessage{
    text-align: center;
    color : gray;
}

.cartItem .price{
    text-align:right;
    color:gray;
}